body{background-color:white; color:black; font-family:"Signika Negative,Ubuntu";}

span.titlu{font-size:30px; color:#415961; font-weight:bold;}
span.subtitlu{font-size:20px; color:#6ea62e; font-weight:bold;}

span.v{color:#ff8c00; font-weight:bold;}
span.vd{color:#6b1687;}

/*
a{text-decoration:none;}

table.t1{width:100%; border:0; cellspacing:0; cellpadding:0;}
td{vertical-align:middle; background-color:#080E1E; }
*/